.app {
  width: 220px;
  margin: 5px auto;
  padding: 10px;

  .search-bar {
    margin-bottom: 8px;
    /* padding: 5px; */
    box-sizing: border-box;
  }

  .product-table {
    width: 100%;

    .table-header {
      font-size: 20px;
      font-weight: bold;
      display: flex;
      width: 150px;
      justify-content: space-between;
      padding-left: 30px;
    }

    .product-category {
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      margin-top: 10px;
    }
    .product-item {
      width: 180px;
      display: flex;
      justify-content: space-between;
      font-weight: 500;

      .unstocked {
        color: red;
      }
    }
  }
}
